<AuthorizeView>
    <Authorized>
        <MudMenu AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" FullWidth="true">
            <ActivatorContent>
                <MudStack AlignItems="AlignItems.Center" Row="true">
                    <MudStack Spacing="1" Justify="Justify.Center">
                        <MudText Typo="Typo.body1">
                            @LoggedInUser?.FirstName @LoggedInUser?.LastName
                        </MudText>
                        <MudText Typo="Typo.body2">
                            @LoggedInUser?.EmailAddress
                        </MudText>
                    </MudStack>
                    <MudAvatar Color="Color.Secondary" Variant="Variant.Filled">
                        BI
                    </MudAvatar>
                </MudStack>
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem>
                    Notifications
                </MudMenuItem>
                <MudMenuItem>
                    <a href="/Profile/@LoggedInUser?.Id">
                        Profile
                    </a>
                </MudMenuItem>
                @if (LoggedInUser?.VIPStatus == VIPStatus.Admin)
                {
                    <MudMenuItem>
                        <a href="/Admin">
                            Admin
                        </a>
                    </MudMenuItem>
                }
                <MudMenuItem>
                    User Settings
                </MudMenuItem>
                <MudMenuItem>
                    <a href="MicrosoftIdentity/Account/SignOut">
                        Logout
                    </a>
                </MudMenuItem>
            </ChildContent>
        </MudMenu>
    </Authorized>
    <NotAuthorized>
        <MudMenu Style="width: 100%;" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
            <ActivatorContent>
                <MudBadge Visible="true" Content="1" Color="Color.Warning" Overlap="true" Bordered="true">
                    <MudAvatar Color="Color.Secondary" Variant="Variant.Filled">
                        Blep
                    </MudAvatar>
                </MudBadge>
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem>
                    <MudButton Href="MicrosoftIdentity/Account/SignIn" Variant="Variant.Filled" Color="Color.Primary">Create Account</MudButton>
                </MudMenuItem>
                <MudMenuItem>
                    <MudButton Href="MicrosoftIdentity/Account/SignIn" Variant="Variant.Filled" Color="Color.Primary">Login</MudButton>
                </MudMenuItem>
            </ChildContent>
        </MudMenu>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public User LoggedInUser { get; set; }
}